
body {
  font-family: system-ui;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #ffb400;
}

header {
}

nav {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    background-color: #b4a76c;
    color: #ffb400;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: black;
    overflow: visible;
    text-align: center;
    height: 15px;
    background-image: url(salmon_clip_art_5996);
}

article {
  width: 75%;
  margin: auto;
}


section {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  background-color: #b4a76c;
}

aside {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  background-color: #b4a76c;
}

p:first-of-type {
  margin-top: 0;
}

nav a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  width: 100%;
}
nav a:hover {
  background-color: #fd5c63
}

.sub-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.sub-menu a {
  padding-left: 1.5 em;
}

nav a:hover + .sub-menu, .sub-menu:hover {
  display: block;
}

#nav-list > li {
  display: inline;
  margin: 10px 10px;
  font-size: 1.5em;
}


ul {
  list-style: none;
}

li {
  text-align: center;
    vertical-align: middle;
  }

h1 {text-align: center;
    font-family: Arial;
    color: #ffb400;
    font-size: 300%;

}

#locations {
  display: flex;
  flex-direction: row;
}

aside {
  border-top: solid;
  color: #ffb400 ;
}
